

button{
    display: block;
    margin-left: 15px;
    margin-top: 14px;
    padding: 20px;
    width: 26%;
    background: silver;
    border-radius: 5px;
    border-color: none;
    font-size: 24px;
}