body{
    margin-top: -303px;
}


div{
    padding: 34px;
    border-radius: 6px;
}

 .Task{
     padding: 10px;
 }

.header{
    display: inline;
}

h1{
    display: inline-block;
    margin-right: 40px;
}



  .btn {
      display: inline;
      padding: 20px;
      width: 20%;
      align-items: left;
      font-size: 40px;
      margin-left: -650px;
  }