.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    }
    
    button{
        padding: 30px 90px;
        width: 100%;
        font-size: 44px;
        margin: 8px;
        border-radius: 8px;
        font-family: Merienda;
    }

    .role{
        background: rgb(8, 107, 124);
    }
  

    img{
        width: 70px;
        display: inline;
        margin-right: 10px;
    }